* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  height: 100%;
}

// .container {
//   max-width: 1440px;
//   margin: 0 auto;
//   padding: 0 30px;
// }

.section {
  display: flex;
  min-height: 100vh;
}

//* SIDEBAR-START

.sidebar {
  width: 300px;
  background: linear-gradient(to right top, #001845, #023e7d);
  color: #fff;
  padding: 15px 30px;
  transition: 0.3s;
  overflow: hidden;

  ul {
    margin-top: 45px;
    list-style: none;
  }

  li:not(:last-child) {
    margin-bottom: 30px;
  }

  a {
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    transition: 0.5s ease;
    padding: 0 5px;
  }

  a:hover {
    font-weight: 700;
    background-color: #fff;
    padding: 5px 5px;
    color: #001845;
  }
  .active {
    font-weight: 700;
    background-color: #fff;
    padding: 5px 5px;
    color: #001845;
  }
}

// SIDEBAR-END

// SIDEBAR-HIDE-START

.hide {
  display: none;
}

// SIDEBAR-HIDE-END

//* RIGHRSIDE-START

.rightside {
  flex: 1;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #fff;
    padding: 15px 30px;

    .btn {
      outline: none;
      border: none;
      background-color: #fff;
      cursor: pointer;
      padding: 5px 10px;

      i {
        color: #001845;
      }
    }

    .darkMode {
      .darkBtn {
        padding: 5px 10px;
        cursor: pointer;
        border: none;
        outline: none;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        background: linear-gradient(to left top, #001845, #023e7d);
      }
    }
  }

  .content {
    background-color: #e5e5e5;
    height: calc(100vh - 50px);
    padding: 30px;

    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title__text {
        color: #001845;
      }
    }

    .cards-style {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
      grid-template-rows: repeat(2, 160px);
      gap: 40px;
      margin-top: 60px;

      .box {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
        border-radius: 11px;
        cursor: pointer;

        h3 {
          color: #001845;
          cursor: pointer;
        }
      }
    }


    @media screen and (max-width: 1330px) {
      .cards-style {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: repeat(3, 120px);
        gap: 15px;
        margin-top: 30px;
      }
    }

    &__table {

      text-align: center;
      margin-top: 20px;

      &-title {
        color: #001845;
      }

      &-search {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin-top: 20px;

        input {
          outline: none;
          padding: 4px 8px;
          color: #001845;
          font-size: 16px;
          font-weight: bold;
        }

        ::placeholder {
          font-size: 14px;
          color: #001845b1;
        }

        button {
          padding: 8px 10px;
          background: linear-gradient(to left top, #001845, #023e7d);
          color: #fff;
          border-radius: 5px;
          border: none;
          cursor: pointer;
        }
      }

      table {
        width: 100%;
        // border-radius: 5px;
        background: linear-gradient(to right top, #001845, #023e7d);
        margin-top: 30px;
        border-collapse: collapse;

        th {
          font-size: 18px;
        }

        th,
        td {
          text-align: center;
          border: 1px solid #e5e5e5f7;
          color: #fff;
          padding: 8px 10px;
        }

        .address-btn {
          padding: 5px 8px;
          background-color: #001845;
          border: 1px solid #fff;
          color: #fff;
          border-radius: 5px;
          cursor: pointer;
        }

      }

    }

  }
}

// RIGHRSIDE-END

//* DARK-MODE-START

.dark {

  .sidebar {
    width: 300px;
    background: linear-gradient(to right top, #000, #252323);
    color: #fff;

    a {
      color: #fff;
    }

    a:hover {
      font-weight: 700;
      background-color: #023e7d;
      padding: 5px 5px;
      color: #fff;
    }
  }

  .navbar {
    background-color: #252323;

    .btn {
      background-color: #252323;

      i {
        color: #fff;
      }
    }

  }

  .content {
    background-color: #1a1a1a;

    &__title {

      .title__text {
        color: #fff;
      }

    }

    .cards-style {
      .box {
        background-color: #023e7d;
        box-shadow: none;

        h3 {
          color: #fff;
        }
      }
    }

    .content__table-title {
      color: #fff;
    }

    .table {

      th,
      td {
        border: 1px solid #888;
      }
    }

  }
}

// DARK-MODE-END